=begin
#Solidus API

#The standard Solidus API.

The version of the OpenAPI document: 1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0-SNAPSHOT

=end

require 'cgi'

module SolidusSdk
  class CustomerReturnsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create order customer return
    # Creates a customer return for an order.  Only users with the `create` permission on `Spree::CustomerReturn` can perform this action.
    # @param order_number [String] The order number
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateOrderCustomerReturnRequest] :update_order_customer_return_request 
    # @return [CustomerReturn]
    def create_order_customer_return(order_number, opts = {})
      data, _status_code, _headers = create_order_customer_return_with_http_info(order_number, opts)
      data
    end

    # Create order customer return
    # Creates a customer return for an order.  Only users with the &#x60;create&#x60; permission on &#x60;Spree::CustomerReturn&#x60; can perform this action.
    # @param order_number [String] The order number
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateOrderCustomerReturnRequest] :update_order_customer_return_request 
    # @return [Array<(CustomerReturn, Integer, Hash)>] CustomerReturn data, response status code and response headers
    def create_order_customer_return_with_http_info(order_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerReturnsApi.create_order_customer_return ...'
      end
      # verify the required parameter 'order_number' is set
      if @api_client.config.client_side_validation && order_number.nil?
        fail ArgumentError, "Missing the required parameter 'order_number' when calling CustomerReturnsApi.create_order_customer_return"
      end
      # resource path
      local_var_path = '/orders/{order_number}/customer_returns'.sub('{' + 'order_number' + '}', CGI.escape(order_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_order_customer_return_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerReturn'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"CustomerReturnsApi.create_order_customer_return",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerReturnsApi#create_order_customer_return\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get order customer return
    # Gets an orders customer return.
    # @param order_id [String] The order number
    # @param id [String] The id of the customer return
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_order_customer_return(order_id, id, opts = {})
      data, _status_code, _headers = get_order_customer_return_with_http_info(order_id, id, opts)
      data
    end

    # Get order customer return
    # Gets an orders customer return.
    # @param order_id [String] The order number
    # @param id [String] The id of the customer return
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_order_customer_return_with_http_info(order_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerReturnsApi.get_order_customer_return ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling CustomerReturnsApi.get_order_customer_return"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomerReturnsApi.get_order_customer_return"
      end
      # resource path
      local_var_path = '/orders/{order_id}/customer_returns/{id}'.sub('{' + 'order_id' + '}', CGI.escape(order_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"CustomerReturnsApi.get_order_customer_return",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerReturnsApi#get_order_customer_return\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List order customer returns
    # Lists an order's customer returns.
    # @param order_number [String] The order number
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 25)
    # @option opts [Object] :q Allows to query results based on search filters provided by Ransack (https://github.com/activerecord-hackery/ransack/).
    # @return [ListOrderCustomerReturns200Response]
    def list_order_customer_returns(order_number, opts = {})
      data, _status_code, _headers = list_order_customer_returns_with_http_info(order_number, opts)
      data
    end

    # List order customer returns
    # Lists an order&#39;s customer returns.
    # @param order_number [String] The order number
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 25)
    # @option opts [Object] :q Allows to query results based on search filters provided by Ransack (https://github.com/activerecord-hackery/ransack/).
    # @return [Array<(ListOrderCustomerReturns200Response, Integer, Hash)>] ListOrderCustomerReturns200Response data, response status code and response headers
    def list_order_customer_returns_with_http_info(order_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerReturnsApi.list_order_customer_returns ...'
      end
      # verify the required parameter 'order_number' is set
      if @api_client.config.client_side_validation && order_number.nil?
        fail ArgumentError, "Missing the required parameter 'order_number' when calling CustomerReturnsApi.list_order_customer_returns"
      end
      # resource path
      local_var_path = '/orders/{order_number}/customer_returns'.sub('{' + 'order_number' + '}', CGI.escape(order_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrderCustomerReturns200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"CustomerReturnsApi.list_order_customer_returns",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerReturnsApi#list_order_customer_returns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update order customer return
    # Updates an orders customer return.  Only users with the `update` permission on the customer return can perform this action.
    # @param order_id [String] The order number
    # @param id [String] The id of the customer return
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateOrderCustomerReturnRequest] :update_order_customer_return_request 
    # @return [CustomerReturn]
    def update_order_customer_return(order_id, id, opts = {})
      data, _status_code, _headers = update_order_customer_return_with_http_info(order_id, id, opts)
      data
    end

    # Update order customer return
    # Updates an orders customer return.  Only users with the &#x60;update&#x60; permission on the customer return can perform this action.
    # @param order_id [String] The order number
    # @param id [String] The id of the customer return
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateOrderCustomerReturnRequest] :update_order_customer_return_request 
    # @return [Array<(CustomerReturn, Integer, Hash)>] CustomerReturn data, response status code and response headers
    def update_order_customer_return_with_http_info(order_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerReturnsApi.update_order_customer_return ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling CustomerReturnsApi.update_order_customer_return"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomerReturnsApi.update_order_customer_return"
      end
      # resource path
      local_var_path = '/orders/{order_id}/customer_returns/{id}'.sub('{' + 'order_id' + '}', CGI.escape(order_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_order_customer_return_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerReturn'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"CustomerReturnsApi.update_order_customer_return",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerReturnsApi#update_order_customer_return\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
