=begin
#Solidus API

#The standard Solidus API.

The version of the OpenAPI document: 1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0-SNAPSHOT

=end

require 'cgi'

module SolidusSdk
  class InventoryUnitsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get inventory unit
    # Retrieves an inventory unit.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_inventory_unit(id, opts = {})
      data, _status_code, _headers = get_inventory_unit_with_http_info(id, opts)
      data
    end

    # Get inventory unit
    # Retrieves an inventory unit.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_inventory_unit_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryUnitsApi.get_inventory_unit ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InventoryUnitsApi.get_inventory_unit"
      end
      # resource path
      local_var_path = '/inventory_units/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"InventoryUnitsApi.get_inventory_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryUnitsApi#get_inventory_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update inventory unit
    # Updates an inventory unit.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InventoryUnitInput] :inventory_unit_input 
    # @return [InventoryUnit]
    def update_inventory_unit(id, opts = {})
      data, _status_code, _headers = update_inventory_unit_with_http_info(id, opts)
      data
    end

    # Update inventory unit
    # Updates an inventory unit.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InventoryUnitInput] :inventory_unit_input 
    # @return [Array<(InventoryUnit, Integer, Hash)>] InventoryUnit data, response status code and response headers
    def update_inventory_unit_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryUnitsApi.update_inventory_unit ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InventoryUnitsApi.update_inventory_unit"
      end
      # resource path
      local_var_path = '/inventory_units/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'inventory_unit_input'])

      # return_type
      return_type = opts[:debug_return_type] || 'InventoryUnit'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"InventoryUnitsApi.update_inventory_unit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryUnitsApi#update_inventory_unit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
