=begin
#Solidus API

#The standard Solidus API.

The version of the OpenAPI document: 1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0-SNAPSHOT

=end

require 'cgi'

module SolidusSdk
  class ProductPropertiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create product property
    # Creates a product property.  Only users with the `create` permission on `Spree::ProductProperty` can perform this action.
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateProductPropertyRequest] :create_product_property_request 
    # @return [ProductProperty]
    def create_product_property(product_id, opts = {})
      data, _status_code, _headers = create_product_property_with_http_info(product_id, opts)
      data
    end

    # Create product property
    # Creates a product property.  Only users with the &#x60;create&#x60; permission on &#x60;Spree::ProductProperty&#x60; can perform this action.
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateProductPropertyRequest] :create_product_property_request 
    # @return [Array<(ProductProperty, Integer, Hash)>] ProductProperty data, response status code and response headers
    def create_product_property_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductPropertiesApi.create_product_property ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductPropertiesApi.create_product_property"
      end
      # resource path
      local_var_path = '/products/{product_id}/product_properties'.sub('{' + 'product_id' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_product_property_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProductProperty'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"ProductPropertiesApi.create_product_property",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductPropertiesApi#create_product_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete product property
    # Deletes a product's property.
    # @param product_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProductProperty]
    def delete_product_property(product_id, id, opts = {})
      data, _status_code, _headers = delete_product_property_with_http_info(product_id, id, opts)
      data
    end

    # Delete product property
    # Deletes a product&#39;s property.
    # @param product_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductProperty, Integer, Hash)>] ProductProperty data, response status code and response headers
    def delete_product_property_with_http_info(product_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductPropertiesApi.delete_product_property ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductPropertiesApi.delete_product_property"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductPropertiesApi.delete_product_property"
      end
      # resource path
      local_var_path = '/products/{product_id}/product_properties/{id}'.sub('{' + 'product_id' + '}', CGI.escape(product_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductProperty'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"ProductPropertiesApi.delete_product_property",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductPropertiesApi#delete_product_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product property
    # Retrieves a product's property.
    # @param product_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProductProperty]
    def get_product_property(product_id, id, opts = {})
      data, _status_code, _headers = get_product_property_with_http_info(product_id, id, opts)
      data
    end

    # Get product property
    # Retrieves a product&#39;s property.
    # @param product_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductProperty, Integer, Hash)>] ProductProperty data, response status code and response headers
    def get_product_property_with_http_info(product_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductPropertiesApi.get_product_property ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductPropertiesApi.get_product_property"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductPropertiesApi.get_product_property"
      end
      # resource path
      local_var_path = '/products/{product_id}/product_properties/{id}'.sub('{' + 'product_id' + '}', CGI.escape(product_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductProperty'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"ProductPropertiesApi.get_product_property",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductPropertiesApi#get_product_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List product properties
    # Lists a product's properties.
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 25)
    # @option opts [Object] :q Allows to query results based on search filters provided by Ransack (https://github.com/activerecord-hackery/ransack/).
    # @return [ListProductProperties200Response]
    def list_product_properties(product_id, opts = {})
      data, _status_code, _headers = list_product_properties_with_http_info(product_id, opts)
      data
    end

    # List product properties
    # Lists a product&#39;s properties.
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 25)
    # @option opts [Object] :q Allows to query results based on search filters provided by Ransack (https://github.com/activerecord-hackery/ransack/).
    # @return [Array<(ListProductProperties200Response, Integer, Hash)>] ListProductProperties200Response data, response status code and response headers
    def list_product_properties_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductPropertiesApi.list_product_properties ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductPropertiesApi.list_product_properties"
      end
      # resource path
      local_var_path = '/products/{product_id}/product_properties'.sub('{' + 'product_id' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListProductProperties200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"ProductPropertiesApi.list_product_properties",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductPropertiesApi#list_product_properties\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update product property
    # Updates a product's property.  Only users with the `update` permission on the product property can perform this action.
    # @param product_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateProductPropertyRequest] :create_product_property_request 
    # @return [ProductProperty]
    def update_product_property(product_id, id, opts = {})
      data, _status_code, _headers = update_product_property_with_http_info(product_id, id, opts)
      data
    end

    # Update product property
    # Updates a product&#39;s property.  Only users with the &#x60;update&#x60; permission on the product property can perform this action.
    # @param product_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateProductPropertyRequest] :create_product_property_request 
    # @return [Array<(ProductProperty, Integer, Hash)>] ProductProperty data, response status code and response headers
    def update_product_property_with_http_info(product_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductPropertiesApi.update_product_property ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductPropertiesApi.update_product_property"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductPropertiesApi.update_product_property"
      end
      # resource path
      local_var_path = '/products/{product_id}/product_properties/{id}'.sub('{' + 'product_id' + '}', CGI.escape(product_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_product_property_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProductProperty'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"ProductPropertiesApi.update_product_property",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductPropertiesApi#update_product_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
