=begin
#Solidus API

#The standard Solidus API.

The version of the OpenAPI document: 1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.6.0-SNAPSHOT

=end

require 'cgi'

module SolidusSdk
  class StockLocationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create stock location
    # Creates a stock location.  Only users with the `create` permission on `Spree::StockLocation` can perform this action.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateStockLocationRequest] :create_stock_location_request 
    # @return [StockLocation]
    def create_stock_location(opts = {})
      data, _status_code, _headers = create_stock_location_with_http_info(opts)
      data
    end

    # Create stock location
    # Creates a stock location.  Only users with the &#x60;create&#x60; permission on &#x60;Spree::StockLocation&#x60; can perform this action.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateStockLocationRequest] :create_stock_location_request 
    # @return [Array<(StockLocation, Integer, Hash)>] StockLocation data, response status code and response headers
    def create_stock_location_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockLocationsApi.create_stock_location ...'
      end
      # resource path
      local_var_path = '/stock_locations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_stock_location_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'StockLocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"StockLocationsApi.create_stock_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockLocationsApi#create_stock_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete stock location
    # Deletes a stock location.
    # @param id [String] The id of the stock location
    # @param [Hash] opts the optional parameters
    # @return [StockLocation]
    def delete_stock_location(id, opts = {})
      data, _status_code, _headers = delete_stock_location_with_http_info(id, opts)
      data
    end

    # Delete stock location
    # Deletes a stock location.
    # @param id [String] The id of the stock location
    # @param [Hash] opts the optional parameters
    # @return [Array<(StockLocation, Integer, Hash)>] StockLocation data, response status code and response headers
    def delete_stock_location_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockLocationsApi.delete_stock_location ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StockLocationsApi.delete_stock_location"
      end
      # resource path
      local_var_path = '/stock_locations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StockLocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"StockLocationsApi.delete_stock_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockLocationsApi#delete_stock_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get stock location
    # Get a stock location.
    # @param id [String] The id of the stock location
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_stock_location(id, opts = {})
      data, _status_code, _headers = get_stock_location_with_http_info(id, opts)
      data
    end

    # Get stock location
    # Get a stock location.
    # @param id [String] The id of the stock location
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_stock_location_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockLocationsApi.get_stock_location ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StockLocationsApi.get_stock_location"
      end
      # resource path
      local_var_path = '/stock_locations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"StockLocationsApi.get_stock_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockLocationsApi#get_stock_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List stock location
    # Lists the stock locations.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 25)
    # @option opts [Object] :q Allows to query results based on search filters provided by Ransack (https://github.com/activerecord-hackery/ransack/).
    # @return [ListStockLocations200Response]
    def list_stock_locations(opts = {})
      data, _status_code, _headers = list_stock_locations_with_http_info(opts)
      data
    end

    # List stock location
    # Lists the stock locations.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 25)
    # @option opts [Object] :q Allows to query results based on search filters provided by Ransack (https://github.com/activerecord-hackery/ransack/).
    # @return [Array<(ListStockLocations200Response, Integer, Hash)>] ListStockLocations200Response data, response status code and response headers
    def list_stock_locations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockLocationsApi.list_stock_locations ...'
      end
      # resource path
      local_var_path = '/stock_locations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListStockLocations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"StockLocationsApi.list_stock_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockLocationsApi#list_stock_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update stock location
    # Updates a stock location.  Only users with the `update` permission on the stock location can perform this action.
    # @param id [String] The id of the stock location
    # @param [Hash] opts the optional parameters
    # @option opts [CreateStockLocationRequest] :create_stock_location_request 
    # @return [StockLocation]
    def update_stock_location(id, opts = {})
      data, _status_code, _headers = update_stock_location_with_http_info(id, opts)
      data
    end

    # Update stock location
    # Updates a stock location.  Only users with the &#x60;update&#x60; permission on the stock location can perform this action.
    # @param id [String] The id of the stock location
    # @param [Hash] opts the optional parameters
    # @option opts [CreateStockLocationRequest] :create_stock_location_request 
    # @return [Array<(StockLocation, Integer, Hash)>] StockLocation data, response status code and response headers
    def update_stock_location_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StockLocationsApi.update_stock_location ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StockLocationsApi.update_stock_location"
      end
      # resource path
      local_var_path = '/stock_locations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_stock_location_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'StockLocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api-key']

      new_options = opts.merge(
        :operation => :"StockLocationsApi.update_stock_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockLocationsApi#update_stock_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
